@crossuikit:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken="${NODE_AUTH_TOKEN}"
always-auth=true
auto-install-peers=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
shamefully-hoist=true